:root{

    --primary:#064e3b;
    --secondary:#d97706;

    --dark:#0f172a;
    --light:#f8fafc;

    --text:#334155;
    --text-light:#64748b;

    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:20px;

    --shadow-sm:0 4px 6px rgba(0,0,0,.05);
    --shadow-md:0 10px 15px rgba(0,0,0,.08);

    --transition:.3s ease;
}